<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__ . '/src',
        __DIR__ . '/tests',
    ])
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setLineEnding("\n")
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'standardize_not_equals' => true,
        'standardize_increment' => true,


        'full_opening_tag' => false,
        'ternary_to_null_coalescing' => true,
        'yoda_style' => false,
        'increment_style' => null,
        'concat_space' => [
            'spacing' => 'one',
        ],

        'class_definition' => [
            'single_line' => false
        ],

        // PHP DOC
        'phpdoc_inline_tag' => null,
        'phpdoc_annotation_without_dot' => null,
        'phpdoc_no_empty_return' => false,
        'phpdoc_summary' => false,
        'phpdoc_types_order' => false,
        'align_multiline_comment' => [
            'comment_type' => 'phpdocs_like'
        ],
        'no_superfluous_phpdoc_tags' => null,
        'single_line_throw' => false,
        'ordered_imports' => false
    ])
    ->setFinder($finder)
;
